.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* or transparent */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .logocontainer{
        padding: 1rem;
    }

  
    .logo-path {
        fill: transparent;
        stroke: #246E3C;
        stroke-width: 1.5;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: drawLoop 5s ease-in-out infinite;
    }
    
    .logo-path:nth-child(1) { animation-delay: 0s; }
    .logo-path:nth-child(2) { animation-delay: 0.2s; }
    .logo-path:nth-child(3) { animation-delay: 0.4s; }
    
    @keyframes drawLoop {
        0% {
        stroke-dashoffset: 1000;
        fill: transparent;
        }
    
        40% {
        stroke-dashoffset: 0;
        fill: transparent;
        }
    
        55% {
        fill: #246E3C;
        }
    
        85% {
        fill: #246E3C;
        stroke-dashoffset: 0;
        }
    
        100% {
        stroke-dashoffset: 1000;
        fill: transparent;
        }
    }