.HeroSection{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    background-color: rgb(245, 245, 245);
}

    .rightContainer img{
        width: 60vw;
        height: 80vh;
    }

    .leftContainer{
        /* border: 1px solid red; */
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .textArea{
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0rem;
        }

            .textArea p{
                font-size: clamp(1rem, 1.5vw, 2rem);
            }

            .textArea span{
                font-size: clamp(1.25rem, 1.75vw, 2.25rem);
            }

            .Introduction, .textArea h1{
                max-width: 50vw;
                font-size: clamp(1.75rem, 4vw, 10rem) !important;
            }

            .headingcolor{
                display: inline;
                color: var(--primary-color);
            }
        
        .CTA{
            /* border: 1px solid red; */
            padding: 1rem 0rem;
            justify-items: flex-end;
        }

            .CTA button{
                padding: 0.5rem 1rem;
                border-radius: 3rem;
                border: none;
                background-color: var(--primary-color);
                color: var(--primary-color-text);
                font-size: clamp(1rem, 1.5vw, 2rem);
                transition: 0.3s ease all;
            }

            .CTA button:hover{
                transform: scale(1.05);
                background-color: transparent;
                border: 1px solid black;
                color: var(--primary-color);
            }

@media (max-width: 768px) {
    .HeroSection{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 1.75rem;
    }

    .rightContainer img{
        width: 100%;
        height: 80%;
    }

    .leftContainer{
        align-items: center;
        text-align: center;
    }

        .textArea span, .textArea h1{
            max-width: 100vw;
        }    
}