.NavigationBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

    .logo{
        font-family: sans-serif;
    }

        .logo a{
            text-decoration: none;
            color: var(--primary-color);
            font-weight: 600;
            font-size: clamp(1.25rem, 2.25vw, 4rem);
        }

    .links{
        display: flex;
        align-items: center;
    }

        .links ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            gap: 0.25rem;
        }

            .links ul li{
                padding: 0rem 0.75rem;
            }

                .links ul li a{
                    text-decoration: none;
                    text-decoration: none;
                    color: #000; /* link color */
                    position: relative;
                    padding-bottom: 4px; /* space for the underline */
                    transition: all 0.3s ease;
                }

                .NavigationBar .links ul li a::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                    background-color: var(--primary-color);
                    transition: all 0.3s ease;
                }
                
                .NavigationBar .links ul li a:hover::after {
                    width: 100%;
                }

    .hamburgerIcon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem;
    }

    .menu{
        display: none;
    }

@media (max-width: 535px) {
    .links{
        display: none;
    }
    
    .menu {
        display: block;
        position: absolute;
        top: 50px; /* Adjust based on your header */
        right: 40px;
        background: var(--primary-color);
        color: #fff;
        width: 200px;
        transition: all 0.4s ease;
        border-radius: 5px;
        overflow: hidden;
        z-index: 1;

        opacity: 0;
        transform: translateY(-20px); /* start slightly above */
        pointer-events: none; /* prevents interaction when hidden */
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      .menu.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
      
      .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      .menu ul li {
        padding: 15px 20px;
        border-bottom: 1px solid #c9c9c9;
      }
      
      .menu ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
      }
}